#--- pip
pip == 0.8.3 # pip >= 0.8.2 is required for git branch to work correctly

#--- Django
django == 1.2.5
httplib2            # for django's RequestContext
django-extensions
django-debug-toolbar

docutils
pygments

#--- Deploy with fabric
-e git+git://github.com/bitprophet/fabric.git#egg=fabric
-e git://github.com/ff0000/red-fab-deploy.git#egg=red-fab-deploy

#--- Databases
# psycopg2

#--- Other Apps
# -e git://github.com/ff0000/cereal-box.git#egg=cereal-box

#--- SVN Version Tag
# -e git://github.com/ff0000/django-svn-revision.git#egg=svnrevision

#--- Admin
# -e svn+http://django-grappelli.googlecode.com/svn/tags/releases/2.2#egg=grappelli
# -e hg+http://bitbucket.org/izi/django-admin-tools@v0.4.0#egg=admin-tools
# feedparser

#--- Behavior-driven development
# lettuce            # for Behavior Driven Development
# nose               # required by lettuce
# selenium           # required by lettuce
# adminlettuce       # to generate documentation from lettuce features
# random_instances   # to retrieve or generate random instances while testing
# radish             # additional configuration and steps for lettuce

